.HeaderMobile {
  display: block;
  background-color: white !important;
  /* Position and sizing of burger button */
  /* Color/shape of burger icon bars */
  /* Color/shape of burger icon bars on hover*/
  /* Color/shape of close button cross */
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  /* General sidebar styles */ }
  .HeaderMobile p {
    text-align: center; }
  .HeaderMobile .BoutonChoixLangue {
    margin: auto;
    text-align: center; }
  .HeaderMobile .bm-burger-button {
    position: fixed;
    width: 25px;
    height: 19px;
    right: 30px;
    top: 20px; }
  .HeaderMobile .bm-burger-bars {
    background: #2e3b60; }
  .HeaderMobile .bm-burger-bars-hover {
    background: #4ec68d; }
  .HeaderMobile .bm-cross {
    background: #bdc3c7; }
  .HeaderMobile .bm-menu-wrap {
    position: fixed;
    height: 100%; }
  .HeaderMobile .bm-menu {
    background: #3F3F3F;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    border-radius: 3px; }
    .HeaderMobile .bm-menu p {
      color: #4ec68d; }
